*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    padding: 30px;

}

.navbar{
    display: flex;
    justify-content: space-evenly;
    
}
.navbar a{
    color: white;
}

